@font-face {
  font-family: "Nunito";
  src: url("./assets/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("./assets/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Menlo";
  src: url("./assets/Menlo-Regular.ttf") format("truetype");
}

body {
  --content-font-family: "Open Sans", "Calibri", sans-serif;
  --header-font-family: "Nunito", "Calibri Light", var(--content-font-family);
  --table-font-family: "Open Sans", "Calibri Light", var(--content-font-family);
  --code-font-family: "Menlo", "Monaco", "Courier New", monospace;
  --kong-logo: url("./assets/kong.svg");
  --amber: #FFBF00;
  --red: #ee2238;
  --red-secondary: #bf1d67;
  --yellow: #f4c042;
  --yellow-secondary: #eb8581;
  --purple: #a188ef;
  --purple-secondary: #7c86e9;
  --bright-blue: #169FCC;
  --blue: #4ca8e7;
  --blue-secondary: #4f8df5;
  --green: #00eb84;
  --green-secondary: #00e3ec;
}
